.tours-search-container {
    $bg-color: #0063b2ff;
    $highlight-color: #004a80;
    $highlight-color-dark: #003355;
    $text-big-color: #ffffff;
    $text-sm-color: #ffffffc5;
    $font-big-size: 24px;
    $font-sm-size: 18px;
    $component-max-width: 30rem;
    
    background-color: $bg-color;
    color: $text-big-color; 
    padding: 20px; // Padding for some space inside the container
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Subtle shadow for depth
  
    h1 {
        margin-bottom: 20px; 
        font-size: $font-big-size; 
        font-weight: bold; // Bold font weight
        text-align: left; // Center alignment
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); // Text shadow for a 3D effect
    }
  
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px; // Space between grid items
        max-width: $component-max-width; 
        margin-bottom: 20px; 
        text-transform: capitalize;
        align-items: center; // Centers items vertically
        color: $text-sm-color;
    }
  
    button {
        background-color: $highlight-color; // Darker blue for the button
        color: #ffffff; // White text on the button
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: $font-sm-size; // Larger font size for readability
        cursor: pointer; // Cursor indicates button is clickable
        width: 100%;
        max-width: $component-max-width; 
        text-transform: uppercase;
    
        &:hover {
            background-color: $highlight-color-dark; // Even darker on hover for a nice effect
        }
    }
}
  